body{
    background-color: #414141;
    color: aliceblue;
}
#imageWrapper{
    width: 200px;
    height: 180px;
    border: 2px solid blue;
}

img{
    width: 200px;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}
#bgColor{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

input{
    margin-top: 10px;
    width: 500px; 
}

#btn{
    margin-top: 10px;
}